body {
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
	text-align: center;
}

.game {
	width: 100%;
}


h1 {
	font-size: 3vw;
	font-family: Verdana, Helvetica, sans-serif;
	color: #fff;
}

.link {
	font-size: 2vw;
}

/* for Twitter, GitHub icon */
.fa {
	padding-left: 20px;
	font-size: 2vw;
	text-decoration: none;
	margin: 5px 2px;
	text-shadow: 2px 2px 4px #000;
}

.fa:hover {
    opacity: 0.7;
	text-decoration: none;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-github {
	color: #000000;
}

span {
	color: aliceblue;
}



/* board Gameplay Level Restart style */
.col-sm-4 {
	padding: 1vw;
	display: inline-block;
}


.col-sm-4 > select {
	border-radius: 0.5rem;
	border: solid 0.20rem aliceblue;
	color: rgb(245, 227, 239);
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
	font-size: 1rem;
	font-family: Verdana, Helvetica, sans-serif;
	display: inline-block;
	cursor: pointer;
	
	-webkit-box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
	box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
}

.col-sm-4 option {
	color: rgb(203, 21, 170);
	background-color: aliceblue;
}

.col-sm-4 > button {
	border-radius: 0.5rem;
	border: solid 0.20rem aliceblue;
	color: rgb(245, 227, 239);
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
	font-size: 1rem;
	font-family: Verdana, Helvetica, sans-serif;
	display: inline-block;
	cursor: pointer;

	-webkit-box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
	box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);	
}

.info {
	font-size: 0.7rem;
	font-family: Verdana, Helvetica, sans-serif;
	color: #fff;
}

/* Gameboard style */
#gameContainer {
/* width and height of .gameBoardPixel should 1/32 of the width and height of #gameContainer,
because it is used in calculation in the jscript.js file */
	cursor: none;
	width: 32vw;
	height: 32vw;
	margin: 1vw auto;
	background-image: radial-gradient(circle, #da7c69, #7b7199);
	/* From https://css.glass */
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.4px);
	-webkit-backdrop-filter: blur(3.4px);
	border: 7px solid rgba(255, 255, 255, 0.24);
}

  
.gameBoardPixel {
/* width and height of .gameBoardPixel should 1/32 of the width and height of #gameContainer,
because it is used in calculation in the jscript.js file */
	width: 1vw;
	height: 1vw;
	border-radius: 0.5rem;
	float: left;
}

/* Snake style */
.snakeBodyPixel {
	background-image: radial-gradient(circle, #85da69, #efff14);
	box-shadow: 0 0 0.25rem #00fea5;
}

/* Food style */
.food {
	transition: 0.3s ease-in-out;
	-webkit-animation: glowing 3000ms infinite;
	-moz-animation: glowing 3000ms infinite;
	-o-animation: glowing 3000ms infinite;
	animation: glowing 3000ms infinite;
  }
  
  @-webkit-keyframes glowing {
	0% { background-color: rgb(232, 229, 223); -webkit-box-shadow: 0 0 3px rgb(232, 229, 223); }
	50% { background-color: #fff; -webkit-box-shadow: 0 0 40px #fff; }
	100% { background-color: aliceblue; -webkit-box-shadow: 0 0 3px aliceblue; }
  }
  
  @-moz-keyframes glowing {
	0% { background-color: rgb(232, 229, 223); -moz-box-shadow: 0 0 3px rgb(232, 229, 223); }
	50% { background-color: #fff; -moz-box-shadow: 0 0 40px #fff; }
	100% { background-color: aliceblue; -moz-box-shadow: 0 0 3px aliceblue; }
  }
  
  @-o-keyframes glowing {
	0% { background-color: rgb(232, 229, 223); box-shadow: 0 0 3px rgb(232, 229, 223); }
	50% { background-color: #fff; box-shadow: 0 0 40px #fff; }
	100% { background-color: aliceblue; box-shadow: 0 0 3px aliceblue; }
  }
  
  @keyframes glowing {
	0% { background-color: rgb(232, 229, 223); box-shadow: 0 0 3px rgb(232, 229, 223); }
	50% { background-color: #fff; box-shadow: 0 0 40px #fff; }
	100% { background-color: aliceblue; box-shadow: 0 0 3px aliceblue; }
  }
	  



/* Score style */
#scoreContainer {
	width: 32vw;
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.scoreBoard {
	border-radius: 0.5rem;
	border: solid 0.20rem aliceblue;
	color: rgb(245, 227, 239);
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
	font-size: 1rem;
	font-family: Verdana, Helvetica, sans-serif;
	display: inline-block;

	-webkit-box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
	box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(0, 0, 0, 0.6);
}

/* Game Over display style */
.displayGameOver {
	display: none;
	width: 20%;	/* okay */
	background-color: aliceblue;
	position: absolute;
	margin-top: 13vw;
	margin-left: 12vw;
	
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	text-align: center;
	border-radius: 0.25rem;
	color: rgba(255, 0, 0, 0.852);
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2vw;
}



/* Buttons hide #onScreenControllers on desktop  */
#onScreenControllers {
	display: none;
}

/* MOBILE */
@media only screen and (max-width: 1200px) {

h1 {
	font-size: 5vw;
	font-family: Verdana, Helvetica, sans-serif;
	color: #fff;
}
	
#link {
	font-size: 3vw;
}
	
/* for Twitter, GitHub icon */
.fa {
	padding-left: 10px;
	font-size: 3vw;
	margin: 5px 2px;
}

#gameContainer {
	width: 64vw;
	height: 64vw;
}

.gameBoardPixel {
	width: 2vw;
    height: 2vw;
}

#scoreContainer {
	width: 64vw;
}

#onScreenControllers {
	width: 64vw;
	height: 25vh;
	margin: 2vw auto;	
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#onScreenControllers > div {
    display: flex;
    flex-direction: column;
}

#onScreenControllers button {
	border-radius: 1vw;
	border: solid 0.5vw rgb(194, 225, 252);
	color: aliceblue;
	font-size: 6vw;
	font-family: Verdana, Helvetica, sans-serif;
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
	margin: 8vw;
}

#onScreenControllers button:focus {
	outline: none;
}

#onScreenControllers button:active {
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
}

.info {
	display: none;
}
}
